{% load static %}

<link rel="stylesheet" href="{% static 'css/styles_base.css' %}">

<div class="mainMenu">

    <form class="mainMenu_search" method="GET" action="{% url 'search_cards' %}">
        <div class="search-input-wrapper">
            <input id="sendData" type="search" name="q" value="{{ query }}" placeholder="Search cards by name or Set Code (e.g. LOB-005)" autocomplete="off">
            <input type="hidden" id="setCodeHidden" name="set_code" value="{{ set_code }}">
        </div>
        <a href="{% url 'random_card' %}"><i class="fa-solid fa-shuffle" style="color: #ffffff;"></i></a>
    </form>
    
    <div class="mainMenu_buttons">
        <a href=""><i class="fa-solid fa-language"></i></a>
        <a href=""><i class="fa-solid fa-moon"></i></a>
        <a href=""><i class="fa-solid fa-dollar-sign"></i></a>
        {% if user.is_authenticated %}
            <span class="user-greeting">Hola, {{ user.username }}</span>
            <a href="{% url 'user:logout' %}" class="btn-login">Logout</a>
        {% else %}
            <a href="{% url 'user:login' %}" class="btn-login">Log In</a>
            <a href="{% url 'user:register' %}" class="btn-signup">Sign Up</a>
        {% endif %}
    </div>
</div>

<div id="searchOverlay" class="search-overlay"></div>
<div id="searchPreview" class="search-preview"></div>