{% extends "layouts/base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/random_card.css' %}" type="text/css">
{% endblock %}
{% block content %}

<div class="cardContainer">

    <div class="leftSectionContainer">

        <div class="cardImageSection">

            <img id="img_card_main" src="{{ card.card_images.0.image_url }}" alt="{{ card.name }}">

            {% if card.card_images|length > 1 %}
            <div class="cardGallery">
                <p class="galleryTitle">Artworks</p>
                <div class="galleryThumbnails">
                    {% for img in card.card_images %}
                    <img class="galleryThumb {% if forloop.first %}galleryThumb--active{% endif %}"
                         src="{{ img.image_url_small }}" 
                         alt="{{ card.name }} art {{ forloop.counter }}"
                         data-full-image="{{ img.image_url }}"
                         onclick="switchArtwork(this)">
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if card.card_sets %}
            <div class="cardGallery">
                <p class="galleryTitle">Sets / Rarities</p>
                <div class="setThumbnails">
                    {% for set in card.card_sets %}
                    <div class="setThumb {% if forloop.first %}setThumb--active{% endif %}"
                         data-set-name="{{ set.set_name }}"
                         data-set-code="{{ set.set_code }}"
                         data-set-rarity="{{ set.set_rarity }}"
                         data-set-rarity-code="{{ set.set_rarity_code }}"
                         data-set-price="{{ set.set_price }}"
                         data-tcg-price="{% if card.card_prices.0 %}{{ card.card_prices.0.tcgplayer_price }}{% endif %}"
                         onclick="switchSet(this)">
                        <span class="setThumb-code">{{ set.set_code }}</span>
                        <span class="setThumb-rarity">{{ set.set_rarity_code }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% if card.card_sets|length > 3 %}
                <button class="setThumb-toggle" onclick="toggleSets(this)"></button>
                {% endif %}
            </div>
            {% endif %}

            
        </div>

    </div>

    <div class="rightSectionContainer">

        <div class="cardDescriptionsection" >
            <div class="cardDescriptionContainer">
                <div class="card-name">
                    <h3>{{ card.name }}</h3>
                </div>
        
                <div class="card-desc">
                     {{ card.desc }}
                </div>
            </div>
        </div>
    
        {% if card.attribute or card.race or card.archetype or card.level or card.atk or card.def or card.card_prices.0.tcgplayer_price %}
        <div class="cardAtributes">

                {% if card.attribute %}
                <div class="attr-item"><span class="attr-label">Attribute</span><span class="attr-value"><img src="{% static 'img/attributes/' %}{{ card.attribute }}.png" alt="{{ card.attribute }}" class="attr-icon"> {{ card.attribute }}</span></div>
                {% endif %}

                {% if card.race %}
                <div class="attr-item"><span class="attr-label">Type</span><span class="attr-value"><img src="{% static 'img/races/' %}{{ card.race }}.png" alt="{{ card.race }}" class="attr-icon"> {{ card.race }}</span></div>
                {% endif %}

                {% if card.archetype %}
                <div class="attr-item"><span class="attr-label">Archetype</span><span class="attr-value">{{ card.archetype }}</span></div>
                {% endif %}

                {% if card.level %}
                <div class="attr-item"><span class="attr-label">Level</span><span class="attr-value">{{ card.level }}</span></div>
                {% endif %}

                {% if card.atk %}
                <div class="attr-item"><span class="attr-label">ATK</span><span class="attr-value">{{ card.atk }}</span></div>
                {% endif %}

                {% if card.def %}
                <div class="attr-item"><span class="attr-label">DEF</span><span class="attr-value">{{ card.def }}</span></div>
                {% endif %}

                {% if card.card_sets.0.set_code %}
                <div class="attr-item" id="info-set-price"><span class="attr-label">TCG Price</span><span class="attr-value">{% if card.card_sets.0.set_price and card.card_sets.0.set_price != 0 %}{{ card.card_sets.0.set_price }}{% else %}{{ card.card_prices.0.tcgplayer_price }}{% endif %}$</span></div>
                {% endif %}

                {% if card.card_sets.0.set_code %}
                <div class="attr-item attr-full" id="info-set-name"><span class="attr-label">Set</span><span class="attr-value">{{ card.card_sets.0.set_name }}</span></div>
                <div class="attr-item" id="info-set-code"><span class="attr-label">Set Code</span><span class="attr-value">{{ card.card_sets.0.set_code }}</span></div>
                <div class="attr-item" id="info-set-rarity"><span class="attr-label">Rarity</span><span class="attr-value">{{ card.card_sets.0.set_rarity }}</span></div>
                {% endif %}

        </div>
        {% endif %}

    </div>
</div>

<script src="{% static 'js/components/switchArtwork.js' %}" defer></script>
<script src="{% static 'js/components/switchSet.js' %}" defer></script>
<script src="{% static 'js/components/setThumbToggle.js' %}" defer></script>
{% endblock %}