{% extends "layouts/base.html" %}


{% block content %}
    
<div class="card-cardContainer">
    {% if cards %}
        {% for card in cards %}
        <div class="cardContainer">

            <div class="leftSectionContainer">
        
                <div class="cardImageSection">
        
                    <img id="img_card_random" src="{{ card.card_images.0.image_url }}" alt="{{ card.name }}">
                    
                </div>
        
                <div class="cardLimited">
                    <div>cartas limitadas</div>
                </div>
        
            </div>
        
            <div class="rightSectionContainer">
        
                <div class="cardDescriptionsection" >
                    <div>
                        <div class="card-name">
                            <h3>{{ card.name }}</h3>
                        </div>
                
                        <div class="card-desc">
                             {{ card.desc }}
                        </div>
                    </div>
                </div>
            
                {% if card.attribute or card.race or card.archetype or card.level or card.atk or card.def or card.card_prices %}
                <div class="cardAtributes">

                        {% if card.attribute %}
                        <div>
                            <strong>ATRIBUTE:</strong> {{ card.attribute }}
                        </div>
                        {% endif %}

                        {% if card.race %}
                        <div>
                            <strong>TYPE:</strong> {{ card.race }}
                        </div>
                        {% endif %}

                        {% if card.archetype %}
                        <div>
                            <strong>ARQUETYPE:</strong> {{ card.archetype }}
                        </div>
                        {% endif %}

                        {% if card.level %}
                        <div>
                            <strong>LEVEL:</strong> {{ card.level }}
                        </div>
                        {% endif %}

                        {% if card.atk %}
                        <div>
                            <strong>ATK:</strong> {{ card.atk }}
                        </div>
                        {% endif %}

                        {% if card.def %}
                        <div>
                            <strong>DEF:</strong> {{ card.def }}
                        </div>
                        {% endif %}

                        {% if card.card_prices %}
                        <div>
                            <strong>TCG Precio:</strong> {{ card.card_prices.0.tcgplayer_price }}$
                        </div>
                        {% endif %}

                        {% if card.set_code %}
                        <div>
                            <strong>SET CODE:</strong> {{ card.card_sets.0.set_code }}
                        </div>
                        {% endif %}
                </div>
                {% endif %}
        
            </div>
        {% endfor %}
    {% else %}
        <p>No se encontraron cartas.</p>
    {% endif %}
</div>

{% endblock %}