{% extends 'layouts/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}
    
<section>
    <div class="container">
        <div class="login">
            <form action="{% url 'user:login' %}" method="POST">
                {% csrf_token %}
                <h2>Iniciar Sesion</h2>

                {% include 'components/swal_messages.html' %}

                <div class="input-container">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="username" value="{{ form.username.value|default:'' }}" required>
                    <label for="#">Email</label>
                </div>
                <div class="input-container">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" required>
                    <label for="#">Password</label>
                </div>
                <div class="forgot">
                    <label for="#">
                        <input type="checkbox" name="remember_me"> Recordar
                        <a href="{% url 'user:password_reset_request' %}">Olvide la contraseña</a>
                    </label>
                </div>
                <div>
                    <button type="submit">Acceder</button>
                    <div class="register">
                        <p>No tengo cuenta <a href="{% url 'user:register' %}">Crear una cuenta</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>
{% endblock content %}
    